body{
    background-color: rgb(35, 35, 58);
    color: white;
    text-align: center;
    position: relative;
}

.container{
    height: 70vh;
    border: 2px sold white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 15px;
    font-size: 8vw;
    background-color: aliceblue;
    color: brown;
    border: none;
}
.box:hover{
    background-color: rgb(228, 236, 235);
}
#b{
    padding: 10px;
    background-color: black;
    color: aliceblue;
    font-size: medium;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 10px;
}
#b:hover{
    background-color: aliceblue;
    color: black;
    transition-duration: 500ms;
}

.win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
}
